<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>edu.zoller.showdown.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/j_security_check</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ListShows</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.show.ListShows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersistShow</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.show.PersistShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShow</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.show.EditShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewShow</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.show.NewShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShow</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.show.DeleteShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEpisodes</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.episode.ListEpisodes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEpisode</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.episode.NewEpisode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEpisode</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.episode.EditEpisode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersistEpisode</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.episode.PersistEpisode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEpisode</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.episode.DeleteEpisode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDvd</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.dvd.DeleteDvd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDvd</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.dvd.EditDvd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDvds</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.dvd.ListDvds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDvd</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.dvd.NewDvd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersistDvd</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.dvd.PersistDvd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WatchEpisode</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.admin.episode.WatchEpisode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DvdShop</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.shop.DvdShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.shop.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCart</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.shop.ListCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.shop.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.shop.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FanListShows</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.fan.ListShows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FanListEpisodes</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.fan.ListEpisodes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FanWatchEpisode</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.fan.WatchEpisode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>edu.zoller.showdown.servlet.shop.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListShows</servlet-name>
        <url-pattern>/admin/show/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersistShow</servlet-name>
        <url-pattern>/admin/show/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShow</servlet-name>
        <url-pattern>/admin/show/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewShow</servlet-name>
        <url-pattern>/admin/show/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShow</servlet-name>
        <url-pattern>/admin/show/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEpisodes</servlet-name>
        <url-pattern>/admin/episode/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEpisode</servlet-name>
        <url-pattern>/admin/episode/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEpisode</servlet-name>
        <url-pattern>/admin/episode/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersistEpisode</servlet-name>
        <url-pattern>/admin/episode/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEpisode</servlet-name>
        <url-pattern>/admin/episode/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDvd</servlet-name>
        <url-pattern>/admin/dvd/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDvd</servlet-name>
        <url-pattern>/admin/dvd/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDvds</servlet-name>
        <url-pattern>/admin/dvd/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDvd</servlet-name>
        <url-pattern>/admin/dvd/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersistDvd</servlet-name>
        <url-pattern>/admin/dvd/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WatchEpisode</servlet-name>
        <url-pattern>/admin/episode/watch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DvdShop</servlet-name>
        <url-pattern>/shop/dvds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/cart/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCart</servlet-name>
        <url-pattern>/cart/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/cart/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/cart/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FanListShows</servlet-name>
        <url-pattern>/show/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FanListEpisodes</servlet-name>
        <url-pattern>/episode/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FanWatchEpisode</servlet-name>
        <url-pattern>/episode/watch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file/>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_java.jsp</location>
    </error-page>

    <security-constraint>
        <display-name>payment</display-name>
        <web-resource-collection>
            <web-resource-name>payment</web-resource-name>
            <description/>
            <url-pattern>/shop/payment.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>shop</web-resource-name>
            <url-pattern>/shop/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>fan</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cart</web-resource-name>
            <url-pattern>/cart/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>fan</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/user/login.jsp</form-login-page>
            <form-error-page>/user/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>fan</description>
        <role-name>fan</role-name>
    </security-role>
    <security-role>
        <description>admin</description>
        <role-name>admin</role-name>
    </security-role>
</web-app>
